<a href="https://colab.research.google.com/github/Martindelosrios/pyLHCO/blob/master/EXAMPLES/Example_1_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/Martindelosrios/pyLHCO.git

Cloning into 'pyLHCO'...
remote: Enumerating objects: 38, done.
remote: Counting objects: 100% (38/38), done.
remote: Compressing objects: 100% (25/25), done.
remote: Total 38 (delta 16), reused 32 (delta 10), pack-reused 0 (from 0)
Receiving objects: 100% (38/38), 443.90 KiB | 2.81 MiB/s, done.
Resolving deltas: 100% (16/16), done.

In [2]:
!pip install pyLHCO/

Processing ./pyLHCO
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pyLHCO==0.1) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pyLHCO==0.1) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->pyLHCO==0.1) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pyLHCO==0.1) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->pyLHCO==0.1) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->pyLHCO==0.1) (1.16.0)
Building wheels for collected packages: pyLHCO
  Building wheel for pyLHCO (pyproject.toml) ... done
  Created wheel for pyLHCO: filename=pyLHCO-0.1-py3-none-any.whl size=1897 sha256=587ff5d2a782cccccefaebe64366d89d826c1cc4aa38bbcd03662ba46d5d8a1e
  Stored in directory: /tmp/pip-ephem-wheel-cache-wjscq0d0/wheels/eb/48/e4/be706a29cdc124bdb3f6a0e761a3cf283917ac993208e3fffb
Successfully built pyLHCO
Installing collected packages: pyLHCO
Successfully installed pyLHCO-0.1

In [3]:
from importlib_resources import files

from pyLHCO.pylhco import read_lhco

In [6]:
ref = files("pyLHCO")
DATA_PATH = str(ref)

In [11]:
particles = read_lhco(DATA_PATH + "/dataset/example.lhco", OutputType = 'df')

In [16]:
particles

,evNum,#,typ,eta,phi,pt,jmas,ntrk,btag,had/em,dum1,dum2
0,0.0,1.0,1.0,-1.581,-2.501,52.16,0.00,-1.0,0.0,0.00,0.0,0.0
1,0.0,2.0,1.0,-2.365,1.455,26.94,0.00,1.0,0.0,0.00,0.0,0.0
2,0.0,3.0,4.0,-1.732,-0.415,35.39,5.19,4.0,0.0,1.12,0.0,0.0
3,0.0,4.0,4.0,-0.484,0.821,33.06,8.10,6.0,0.0,1.82,0.0,0.0
4,0.0,5.0,6.0,0.000,-2.238,19.10,0.00,0.0,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
33695,9998.0,2.0,1.0,-0.692,3.014,22.01,0.00,1.0,0.0,0.00,0.0,0.0
33696,9998.0,3.0,6.0,0.000,-1.848,18.26,0.00,0.0,0.0,0.00,0.0,0.0
33697,9999.0,1.0,1.0,0.642,2.151,50.89,0.00,-1.0,0.0,0.00,0.0,0.0
33698,9999.0,2.0,4.0,0.668,-1.081,48.71,0.14,1.0,0.0,0.00,0.0,0.0
33699,9999.0,3.0,6.0,0.000,1.163,4.82,0.00,0.0,0.0,0.00,0.0,0.0

Now you can play with the pandas data frame!

For example let's try to keep all the photons with $p_{t} > 10$ GeV and sum the $p_{t}$

In [13]:
conds = ["particles['typ'] == 0", # type = 0 are photons
         "(particles['pt'] > 10)"]

evs = particles.copy()
for cond in conds:
    evs = evs[eval(cond)]

evs.groupby('evNum').sum()['pt']

<ipython-input-13-346c3e37ecec>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  evs = evs[eval(cond)]

evNum
1.0       20.68
13.0      27.20
17.0      18.51
40.0      44.08
42.0      43.58
          ...
9979.0    10.31
9981.0    30.77
9987.0    75.06
9991.0    27.19
9996.0    78.15
Name: pt, Length: 1866, dtype: float64

Now let's do something a bit more complicated...
We want to check which events has at least 2 electrons, and from those count how many photons they have.

In [21]:

# prompt: I want to group by evNum, then select the groups with at least 3 rows with typ = 1, and from them count how many rows has typ = 0.

import pandas as pd

# Group by 'evNum'
grouped = particles.groupby('evNum')

# Filter groups with at least 3 rows where 'typ' == 1
filtered_groups = grouped.filter(lambda x: (x['typ'] == 1).sum() >= 2)

# Count rows where 'typ' == 0 in the filtered groups
result = filtered_groups[filtered_groups['typ'] == 0].groupby('evNum').size()

result

evNum
43.0      1
169.0     1
253.0     1
360.0     1
390.0     1
1081.0    1
1086.0    1
1754.0    1
1837.0    1
1939.0    1
2051.0    1
2237.0    1
2363.0    1
2822.0    1
3074.0    1
3649.0    1
3774.0    1
3930.0    1
4286.0    1
4377.0    1
4610.0    1
4686.0    1
4806.0    1
5082.0    1
5084.0    1
5346.0    1
5730.0    1
5818.0    1
5819.0    1
5838.0    1
5906.0    1
5953.0    1
6030.0    1
6088.0    1
6163.0    1
6196.0    1
6335.0    1
6842.0    1
7118.0    1
7440.0    1
7626.0    1
7690.0    1
7963.0    1
8205.0    1
8351.0    1
8410.0    1
8555.0    1
8613.0    1
8686.0    1
9006.0    1
9085.0    1
9457.0    1
9480.0    1
9487.0    1
9617.0    1
9631.0    1
9930.0    1
dtype: int64

In [29]:
grouped['typ'] == 1

False

In [26]:
# prompt: group by evNum, select those which has at least 2 rows with typ = 1, compute the sum of pt for those rows, select the groups which has a sum bigger than 10, and then count how many rows with typ = 3 they have

# Group by 'evNum'
grouped = particles.groupby('evNum')

# Filter groups with at least 2 rows where 'typ' == 1 and sum pt > 10
filtered_groups = grouped.filter(lambda x: (x['typ'] == 1).sum() >= 2)
sum_pt_groups = filtered_groups[filtered_groups["typ"] == 1].groupby("evNum").sum()
filtered_sum_pt = sum_pt_groups[sum_pt_groups["pt"] > 10]

#get the evNums that meet the criteria
evNums = filtered_sum_pt.index

#select the rows from the original dataframe that match the evNums
final_df = filtered_groups[filtered_groups["evNum"].isin(evNums)]

#count how many rows with typ == 3 each group has
result = final_df[final_df['typ'] == 3].groupby('evNum').size()

result

evNum
265.0     1
452.0     1
1019.0    1
1282.0    1
2331.0    1
2459.0    1
2746.0    1
2844.0    1
4434.0    1
4593.0    1
5916.0    1
5976.0    1
7810.0    1
8055.0    1
9492.0    1
dtype: int64